
@{
    ViewBag.Title = "Index";
}

<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow py-5">
            <div class="container">
                @Html.ActionLink("Vy billett", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">@Html.ActionLink("Stasjoner", "Index", "Stations", new { controller = "Stations" }, new { @class = "nav-link text-dark" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<h2>Index</h2>



