@model List<Model.Station>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StationId }) |*@
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.StationId })
        </td>
    </tr>
}

</table>
