@model List<Model.Station>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View</h2>


<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StationId }) 
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.StationId })
            </td>
        </tr>
    }
    @Html.ActionLink("Add", "Add", new {@class = "btn btn-primary"})
</table>
