/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.navbar-brand {
    font-size: 26pt !important;
    margin-right: calc(120px);
    font-weight: 700;
    color: rgb(52, 58, 64) !important;
}

.vy-text {
    font-weight: 700;
    color: rgb(52, 58, 64) !important;
}

.body-content {
    margin-top: 20px;
}

.stations-label {
    font-size: 1.25rem;
    font-weight: 700;
}

.header-text {
    font-weight: 700;
}

.nav-link {
    color: rgb(52, 58, 64);
    font-size: 18px;
    font-weight: 700;
}

.vy-total-price {
    font-size: 1.4rem;
}

.vy-input {
    border-radius: 0!important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    background-color: #F5F5F5;
    font-weight: 400;
    text-indent: 24px;
    font-size: 1.875rem!important;
    border-bottom: 2px solid black;
}

.vy-button-primary {
    color: #FFFFFF;
    background-color: #00866E;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    padding: 0 42px;
    height: 54px;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 700;
}