<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="errorlogfile" xsi:type="File" fileName="log/error.log" />
    <target name="logconsole" xsi:type="Console" />
    <target name="databaselogfile" xsi:type="File" fileName="log/database.log" />
  </targets>

  <rules>
    <logger name="error" minlevel="Debug" writeTo="logconsole" />
    <logger name="error" minlevel="Debug" writeTo="errorlogfile" />
    <logger name="database" minlevel="Debug" writeTo="databaselogfile" />
  </rules>
</nlog>
