
@{
    ViewBag.Title = "Innlogget side";
}

<h2>Innlogget side</h2>
Her kommer du bare dersom du har logget inn!
<br />
<br />
<div>
    @Html.ActionLink("Tilbake", "Index", new { tom = "" }, new { @class = "btn btn-primary" })
</div>



